/codebook_explanation_classification/checkpoints
/codebook_explanation_classification/datasets
/codebook_explanation_classification/logs
/codebook_explanation_classification/outputs
/codebook_explanation_classification/results/Classification
/codebook_explanation_classification/results/Explanation/generated_data
/codebook_explanation_classification/results/Explanation/original_data
/codebook_explanation_classification/results/Explanation/baseline_statistics
/codebook_explanation_classification/feature_visualization_map
/datasets
/logs
/codebook_explanation_classification/error_log.log
/error_log.log
/codebook_explanation_concept/datasets
/codebook_explanation_concept/logs
/codebook_explanation_concept/checkpoints
/codebook_explanation_concept/error_log.log
/codebook_explanation_classification/results/Explanation/visualization_results
/codebook_explanation_classification/explanation_evaluation/evaluation_results
/codebook_explanation_classification/explanation_evaluation/outputs